:root {
  --bg-color: #F8E0CC; /* light yellow */
  --font-color: #513822; /* dark brown */
  --btn-color: #1F7B8F; /* turquoise */
  --bg-nav-footer: #DB975C; /* light orange */
  --card-color: #5CC5DB; /* light blue */
  --title-color: #A88A6E; /* light brown */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: var(--font-color);
  /* max-width: 100vw; */
  font-size: 1.25rem;
  margin: 0 auto;
  width: 90%;
}


*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Lato', sans-serif;
  /* font-size: 1rem; */
}


a{
  color:#3C4D4B;
}

a:hover{
  color: #58634B;
}

/* Header - Navigation */

.header{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 550px;
  background-image: url("../images/african-child.jpg");
  background-position: center;
  background-size: cover;
}

.header-bar{
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.5);
}

.header-bar img{
  height: 100%;
  width: auto;
  filter: drop-shadow(0 0 5px white);
}

.header-bar a{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.header-nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.header-title{
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: var(--bg-color);
  text-align: justify;
}

.header-title h1{
  font-style: italic;
  font-size: 3rem;
}


/* Main */

.text-intro{
  text-align: center;
}

main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: var(--bg-color);
  row-gap: 60px;
  padding: 15px 0 15px 0;

}

.main-box{
  display: flex;
  flex-flow: column wrap;
  width: 225px;
  border: 3px solid var(--bg-nav-footer);
  background: var(--bg-color);
  text-align: center;
  /* margin-bottom: 15px; */
}

.main-box img{
    width: 100%;
    /* margin: 5px; */
}


.main-box-image img{
  height: auto;
  width: 30%;
}

.main-box-image{
  padding: 15px;
  background: var(--bg-nav-footer);
}

.main-box-info{
  padding: 10px 10px 0 10px;

}

.products{
  border: 1px solid var(--font-color);
  box-shadow: 0 0 10px var(--font-color);
}

progress{
  width: 100%;
  height: 50px;
}

.main-title{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--title-color);
  padding: 20px 0 20px 0;
  border-bottom: 3px solid #3C4D4B;
}

.team{
  width: 250px;
  text-align: center;
}

.team h4{
  margin-bottom: 0;
}

.team p{
  margin: 0;
}

.team img{
  height: 150px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 10px var(--font-color);
}

.locations{
  width: 300px;
}

.locations p{
  padding: 5px;
  margin: 0 auto;
}

.address:before{
  content: url("../images/icons/maps.png") " ";
}

.hours::before{
  content: url("../images/icons/time.png") " ";
}

.phone::before{
  content: url("../images/icons/phone.png") " ";
}

.locations iframe{
  width: 250px;
  height: 250px;
}

/* Footer */

footer{
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  background: #3C4D4B;
  height: 150px;
}

footer div{
  color: #fff;
  font-size: 1rem;
  text-align: center;
}


@media (max-width: 425px){
  .header-nav{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
  }
  .header-title h1{
    font-style: italic;
    font-size: 2.5rem;
  }
  .header-title h2{
    font-size: 1.75rem;
    text-align: center;
  }

}
